

html, body{
    background-color: #ffeead;
    margin: 10px;
}

.container{
    padding: 0;
}

.container > l1{
    background-color: #96ceb4;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    color: #ffeead;
    font-size: 2em;
    list-style-type: none;
}

::placeholder{
    color: #ffeead;
    font-size: 2em;
}

.search-input{
    background: transparent;
    border: 0;
    width: 100%;
    outline: 0;
    border-bottom: 1px solid #ffeead;
    color: #ffeead;
}

.search-input:focus{
    outline: none;
}
